{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form class="form-signin" method="post" action="{% url 'account:login' %}">
        {% csrf_token %}
        {#                        {{ form.as_p }}#}
        <h2 class="form-signin-heading">Please sign in</h2>
        <div class="form-group">
{#            <label for="username">用户名：</label>#}
            <input id="username" type="text" name="username" value="{{ username }}" class="form-control"
                   placeholder="Username" required="">
        </div>
        <div class="form-group">
{#            <label for="password">密 码：</label>#}
            <input id="password" type="password" name="password" value="{{ password }}" class="form-control"
                   placeholder="Password" required="">
        </div>


        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <input type="hidden" name="next" value="{% url 'blog:blog_title' %}"/>
    </form>
{% endblock %}


