{% extends "base.html" %}
{% load staticfiles %}
{% block title %}blog titles{% endblock %}

{% block content %}
    <div>
        文章分类：
        <p>
            <span style="margin-right: 10px"><a href="?">ALL</a></span>
            <span style="margin-right: 10px"><a href="?tag=life">Life</a></span>
            <span style="margin-right: 10px"><a href="?tag=tech">Tech</a></span>
            <span style="margin-right: 10px"><a href="?tag=news">News</a></span>
        </p>
    </div>
    <div class="row text-center vertical-middle-sm">
        <h1>我的博客</h1>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-8">
            <ul>
                {% for blog in blogs %}
                    <li><a href="{{ blog.id }}">{{ blog.title }}</a></li>
                {% empty %}
                    <p>还没有发布文章</p>
                {% endfor %}
            </ul>
        </div>

        <div class="col-xs-6 col-md-4">
            <h2>广告</h2>
            <p>随便写点啥</p>
            <img width="200px" src="{% static "images/timg.jpeg" %}">
        </div>

    </div>


{% endblock %}