{% load staticfiles %}

<div class="container">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.zhouhy.com">
                <img src="{% static '/images/tenlogo.png' %}" width="100px">
            </a>
        </div>
        <div style="margin-right: 18px">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'blog:blog_title' %}">BLOG</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a >Hello,{{ user.username }}.</a></li>
                    <li><a href="{% url 'account:user_logout' %}">LOGOUT</a></li>
                {% else %}
                    <li><a href="{% url 'account:user_register' %}">Register</a></li>
                    <li><a href="{% url 'account:user_login' %}">LOGIN</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

</div>